JULIAAPP_INFISICAL_ACCESS_TOKEN=
JULIAAPP_INFISICAL_CLIENT_ID=
JULIAAPP_INFISICAL_CLIENT_SECRET=
JULIAAPP_INFISICAL_PROJECT_ID=
JULIAAPP_INFISICAL_SITE_URL=https://app.infisical.com
JULIAAPP_INFISICAL_ENVIRONMENT=main
